<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">

                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>Sector 63, Noida, Uttar Pradesh, 201301.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+0120-4512832, +0120-4512833</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>info&#64;opasbizz.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo-container">
                            <a class="footer-logo-link">
                                <img src="/2d_logo.png" alt="logo" class="footer-logo-img">
                            </a>
                        </div>
                        <div class="footer-text">
                            <p>OPASBIZZ PVT LTD drives sustainable growth in bulk grain trade, excelling in import/export with high-quality procurement and distribution. Backed by robust logistics, we ensure seamless transactions and reliable supply chains, making us a trusted global grain market partner.</p>
                        </div>
                        <!-- <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a routerLink="/home">Home</a></li>
                            <li><a routerLink="/about">About Us</a></li>
                            <li><a routerLink="/products">Products</a></li>
                            <li><a routerLink="/certificate">Certificate</a></li>
                            <li><a routerLink="/blog">Blog</a></li>
                            <li><a routerLink="/contact">Contact Us</a></li>
                            <li><a routerLink="/terms&conditions">Terms and Conditions</a></li>
                            <li><a routerLink="/privacy_policy">Privacy-Policy</a></li>
                            <!-- <li><a routerLink="/team">Team</a></li>
                            <li><a routerLink="/ourBrand">Our Brand</a></li> -->

                        </ul>

                    </div>

                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">


                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <!-- <h3>Subscribe</h3> -->
                        </div>

                        <div class="footer-text mb-25">
                            <!-- <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p> -->

                        </div>
                        <div class="subscribe-form">

                            <!-- <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form> -->
                        </div>

                        <img src="/logo3.png">
                        <img src="/best_logo1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2018, All Right Reserved <a href="https://www.opasbizz.in/">OpasBizz
                                pvt.ltd.</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li routerLink="/home">Home</li>
                            <li routerLink="/contact">Contact</li>
                            <li routerLink="/terms&conditions">Terms and Conditions</li>
                            <li routerLink="/privacy_policy">Privacy-Policy</li>
                            <!-- <li routerLink="/policy">Policy</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>