<footer class="footer">
  <!-- Top: Contact Info -->
  <div class="footer-top">
    <div class="footer-contact">
      <a href="https://www.google.com/maps?q=28.616513732311194,77.38153213758305" target="_blank">
        <i class="bi bi-geo-alt-fill fs-5 me-2"></i>
        <div>
          <h3>Find us</h3>
          <p>Sector 63, Noida, Uttar Pradesh, 201301.</p>
        </div>
      </a>
    </div>

    <div class="footer-contact">
      <a href="tel:+911204512832">
        <i class="bi bi-telephone-fill fs-5 me-2"></i>
        <div>
          <h3>Call us</h3>
          <p>+0120-4512832, +0120-4512833</p>
        </div>
      </a>
    </div>

    <div class="footer-contact">
  <a href="https://mail.google.com/mail/?view=cm&fs=1&to=info@opasbizz.com" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-envelope-fill fs-5 me-2"></i>
    <div>
      <h3>Mail us</h3>
      <p>info&#64;opasbizz.com</p>
    </div>
  </a>
</div>

  </div>

  <!-- Middle Section -->
  <div class="footer-middle">
    <div class="footer-content-wrapper">
      <!-- Logo strictly left -->
      <div class="footer-logo-wrapper">
        <img src="/new_logo/new_transp_logo.webp" alt="Logo" class="footer-logo">
      </div>

      <!-- Centered Links -->
      <div class="footer-links">
        <div class="web-links">
          <h2>Web Links</h2>
          <a routerLink="home">Home</a>
          <a routerLink="about">About Us</a>
          <a routerLink="privacy_policy">Privacy-Policy</a>
          <!-- <a routerLink="/products">Products</a> -->
          <a routerLink="terms&conditions">Terms And Conditions</a>
          
        </div>
        <div class="reach-links">
          <h2>Reach Us</h2>
          
          <a routerLink="certificate">Certificate</a>
          <a routerLink="blog">Blog</a>
          <a routerLink="contact">Contact Us</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom -->
  <div class="footer-bottom">
    <p>&copy; Copyright opasbizz. All Rights Reserved Designed by Opas Bizz Private Limited</p>
  </div>
</footer>
