<nav [class.hidden]="isHidden" (mouseleave)="closeMenuOnMouseLeave()">
  <!-- Left: Company Logo -->
  <div routerLink="/register" class="logo-container" (click)="closeMenuOnMouseLeave()" >
    <img style="cursor: pointer;" src="/opasLogo.png" alt="Company Logo" class="logo-img" >
  </div>
  
  <!-- Hamburger Menu Button (Mobile) -->
  <button class="hamburger-btn" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <!-- Right: Navigation Links -->
  <ul [class.show]="isMenuOpen">
    <li><a routerLink="/home">HOME</a></li>
    <li><a routerLink="/about">ABOUT US</a></li>
    <li><a routerLink="/products">PRODUCTS</a></li>
    <li><a routerLink="/certificate">CERTIFICATE</a></li>
    <li><a routerLink="/blog">BLOG</a></li>
    <li><a routerLink="/contact">CONTACT US</a></li>
  </ul>
  <!-- User Details Section -->
  <!-- <div class="user-details">
    <img src="/path-to-user-image.jpg" alt="User Image" class="user-image">
    <div class="user-info">
      <span class="user-name">John Doe</span>
      <span class="user-gst">GST: 123456789</span>
    </div>
  </div> -->
</nav>
