


<div class="parents">
<div class="product-card">
<img src="img1.jpg" alt="Basmati Rice" class="product-image">
<div class="product-details">
    <div class="product-title">1401 Basmati Rice</div>

    <div class="progress-bar">
        <div></div>
    </div>
    <div class="product-info">Business Type: <span>Exporter</span><span class="animated-tag">Best Seller</span>
    </div>
    <div class="product-info">Cultivation Type: <span>Organic</span></div>
    <div class="product-info">Texture: <span>Hard</span></div>
    <div class="product-info">Color: <span>White</span></div>
    <div class="product-info">Preferred Buyer From: <span>Worldwide</span></div>
    <div class="buttons">
        <button class="btn">Request to Call</button>
        <button class="btn">Send Enquiry</button>
    </div>
</div>
</div>
</div>

