<div class="wrapper">
  <div class="content">
    <app-header></app-header>
    <main>
      <router-outlet></router-outlet>

      <!-- Social share -->
      <app-social-share 
        [title]="'Check out this amazing content!'"
        [description]="'This is a description of the content you might want to share'"
        [hashtags]="'angular,webdev,programming'"
      ></app-social-share>


    </main>
  </div>
        <!-- Scroll to top button -->
      <app-scroll-button></app-scroll-button>
  <app-footer></app-footer>
</div>
