.parent{
    margin: 0;
    padding: 0;
    margin-top: 65px;
}

/* privacy-policy.component.css */

.privacy-policy {
    
   
    margin: 10%;
    text-align: justify;
    padding: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fbfcfd;
    color: #333;
    line-height: 1.6;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  }
  
  .privacy-policy h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2c3e50;
    text-align: center;
  }
  
  .privacy-policy h2 {
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    color: #2c3e50;
  }
  
  .privacy-policy h3 {
    font-size: 1.3rem;
    margin-top: 1.25rem;
    color: #2c3e50;
  }
  
  .privacy-policy ul {
    padding-left: 1.5rem;
    margin-top: 0.5rem;
  }
  
  .privacy-policy ul li {
    margin-bottom: 0.5rem;
  }
  
  .privacy-policy p {
    margin-bottom: 1rem;
  }
  
  .privacy-policy a {
    color: #0a0a0a;
    /* text-decoration: none; */
  }
  
  .privacy-policy a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 600px) {

    .privacy-policy {
      padding: 1rem;
      margin: 10px;
      margin-top: 100px;
    }
  
    .privacy-policy h1 {
      font-size: 2rem;
    }
  
    .privacy-policy h2 {
      font-size: 1.5rem;
    }
  
    .privacy-policy h3 {
      font-size: 1.1rem;
    }
  }
  