.parent{
  margin-top: 100px;
  margin-bottom: 100px;
}
.product-detail-list{
 /* background-color: #ddd;
 width: 100%;
 height: 400px; */
}


.product-card {
      display: flex;
      border: 5px solid #ddd;
      border-radius: 10px;
      overflow: hidden;
      width: 80%;
      height: 500px;
      margin: auto;
      box-shadow: 1px 4px 8px rgb(111 20 20 / 10%);
      background: #e1c577;
      margin-top: 40px;
      position: relative;
      
}

.product-image {
  width: 89%;
 max-width: 100%;  
 height: 75%;
 max-height: 80%;
  object-fit: cover;
  padding: 10px;
  /* border-radius: 10%; */
  /* transition: transform 1.9s ease-in-out;  */
  animation: slideIn 1.5s ease-in-out forwards, slowZoom 5s infinite alternate ease-in-out;
    transform: translateX(-100%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-image:hover {
  transform: scale(4.5); 
}
@keyframes slideIn {
  0% {
      transform: translateX(-100%) scale(0.5);
      opacity: 0;
  }

  100% {
      transform: translateX(0) scale(1);
      opacity: 1;
  }
}

@keyframes slowZoom {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(1.2);
  }
}

.product-details {
  flex: 1;
  padding: 10px;
  text-align: left;
  z-index: 20;
  
}

h2 {
  margin-bottom: 10px;
  font-size:x-large;
  color: black;
}

p {
  font-size: 14px;
  font-size: medium;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.heading{
  text-align: center;
  max-width: 50%;

}

@media (max-width:380px) {
  .product-card {
    width: 100%;
  }
 .product-details{
  padding: 0%;
 }
 h2{ font-size:small}
 p{ font-size: small;}
 .product-details{
  font-size: small;
  margin-top: 10px;
 }
 .heading{font-size: 5px;}
}



.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.scroll-buttons {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10; 
}

.scroll-btn {
  background: rgb(247, 244, 244);
  color: rgb(21, 25, 236);
  border: none;
  /* padding: 10px; */
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.scroll-btn:hover {
  background: rgb(17, 17, 17);
}
.container {
  text-align: center;
  margin-top: 50px;
  position: relative;
  margin-bottom: 50px;
 
}

.product-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding-top: 20px;
  white-space: nowrap;
  max-width: 100%;
  height: 500px;
 
}

.product-card1 {
  max-height: 380px;
  margin-top: 10px;
  display: inline-block;
  width: 300px;
  min-width: 300px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.product-card1:hover {
  transform: scale(1.1); 
}

.product-card1 img {
  padding: 5px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.product-card1 h3 {
  margin-top: 5px;
}
.product-card1 p {
  margin-top: 1px;
  
}


.product-list::-webkit-scrollbar {
  display: none;
}

.custom-input {
  border: none; 
  border-bottom: 2px solid rgb(12, 12, 12); 
  background: transparent; 
  color: rgb(8, 8, 8); 
  padding-left: 10px; 
  /* font-size: 14px;  */
  outline: none;
  margin-left: 30px; 
  text-align: center;
  width: 30%;
   max-width: 100%;
}

.custom-input::placeholder {
  color: rgba(19, 17, 17, 0.7); 
}

.currency-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  padding: 5px;
  z-index: 100;
}

.currency-dropdown select {
  padding: 5px;
  border-radius: 5px;
}

img {
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

