<!-- <div class="product-details">
  <h2>{{ product?.name }}</h2>
  <img [src]="'http://localhost:8000/uploads/' + product?.image" alt="{{ product?.name }}">
  <p><strong>Color:</strong> {{ product?.color }}</p>
</div> -->

<div class="product-card">
  <img 
    loading="lazy" 
    [src]="'http://localhost:8000/uploads/' + product?.image" 
    alt="Product Image" 
    class="product-image"
  >

  <div class="product-details">
    <h2>{{ product?.name }}</h2>
    <p><strong>Price:</strong> {{ product?.color }}</p>
  </div>
</div>











<!--    
  
      <div class="card">
       
     <img loading="lazy" [src]="'http://localhost:8000/uploads/' + product?.image" alt="Image 01" width="1000" height="500">
       
  
        <div>
          <h2>{{ product?.name }}</h2>
          <div >
            <p><strong>Price:</strong> {{ product?.color }}</p>
            </div>
        </div>
      </div> -->
  
  
  
  