<!-- <div class="desc">
  <h1>hover over a card</h1>
</div> -->

<div class="cards-container">
  <div class="container">
    <a>
      <div class="card">
        <div class="content">
          <h3 class="title">A Great Title</h3>
          <div class="tags">
            <p>mm/dd/yyyy</p>
            <span></span>
            <mat-icon>visibility</mat-icon>
            <p>5k</p>
            <mat-icon>comment</mat-icon>
            <p>53</p>
          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique ut dolor non aliquam. Donec.
            </p>
          </div>
          <mat-icon>expand_less</mat-icon>
        </div>
      </div>
      <figure>
        <img src="https://picsum.photos/seed/298/300/200" />
      </figure>
    </a>
  </div>

  <div class="container">
    <a>
      <div class="card">
        <div class="content">
          <h3 class="title">Lovely Title</h3>
          <div class="tags">
            <p>mm/dd/yyyy</p>
            <span></span>
            <mat-icon>visibility</mat-icon>
            <p>4k</p>
            <mat-icon>comment</mat-icon>
            <p>45</p>
          </div>
          <div class="text">
            <p>
              Cras sed pulvinar leo. Vivamus egestas elementum nisl, id ornare libero consectetur nec. Morbi accumsan sed diam.
            </p>
          </div>
          <mat-icon>expand_less</mat-icon>
        </div>
      </div>
      <figure>
        <img src="https://picsum.photos/seed/268/300/200" />
      </figure>
    </a>
  </div>
</div>
<!-- logo carousel -->


<div class="containerLogo">
  <div class="row justify-content-center align-items-center">

      <div class="col-lg-12 col-12">
          <h4 class="partners-section-title bg-white shadow-lg">Trusted by companies</h4>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
          <img src="images/toprak-leasing.svg" class="partners-image img-fluid">
      </div>

      <div class="col-lg-2 col-md-4 col-6">
          <img src="images/glorix.svg" class="partners-image img-fluid">
      </div>

      <div class="col-lg-2 col-md-4 col-6">
          <img src="images/woocommerce.svg" class="partners-image img-fluid">
      </div>

      <div class="col-lg-2 col-md-4 col-6">
          <img src="images/rolf-leasing.svg" class="partners-image img-fluid">
      </div>

      <div class="col-lg-2 col-md-4 col-6">
          <img src="images/unilabs.svg" class="partners-image img-fluid">
      </div>

  </div>
</div>
<!-- end logo carousel -->