* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body {
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff); */
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
