<div class="intro">
  <div class="intro-slideshow" >
    <!-- <img [src]="img1">
    <img [src]="img2">
    <img [src]="img3">
    <img [src]="img4">
    <img [src]="img5"> -->
    <img src="https://www.dropbox.com/s/lf29ifrd354ngyv/coffee.jpg?raw=1">
      <img src="https://www.dropbox.com/s/lxnf1mxej90qoae/library.jpg?raw=1">
      <img src="https://www.dropbox.com/s/15gdoyzoai94j6j/path.jpg?raw=1">
      <img src="https://www.dropbox.com/s/pem8kaorr488apn/universe.jpg?raw=1">
  </div>
  <!-- <div class="intro-header">
    <h1>Top Exporter of Premium Quality</h1>
    <p>Certified Export House in India</p>
  </div> -->
</div>

<div>
  
</div>


















<!-- <div id="homepage-slider" class="st-slider">

    <input type="radio" class="cs_anchor radio" name="slider" id="slide1"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="slide2"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="slide3"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked=""/>

    <div class="images">
       <div class="images-inner">
        <div class="image-slide">
          <div class="image image1 bg-yellow" style="background-color:yellow;">image slide 1</div>
        </div>
        <div class="image-slide">
          <div class="image image2 bg-blue" style="background-color:pink;">imager slide 2</div>
        </div>
        <div class="image-slide">
          <div class="image image3 bg-red" style="background-color:orange;">image slide 3</div>
        </div>
      </div>
    </div>
  
    <div class="labels">
        <label for="slide1" class="label">text slide 1</label>
        <label for="slide2" class="label">text slide 2</label>
        <label for="slide3" class="label">text slide 3</label>
      
        <div class="fake-radio">
          <label for="slide1" class="radio-btn"></label>
          <label for="slide2" class="radio-btn"></label>
          <label for="slide3" class="radio-btn"></label>
        </div>
    </div>
</div> -->