<div class="intro">
  <div class="intro-slideshow">
    <img [src]="'http://localhost:8000/uploads/' + images[0]?.image">
    <img [src]="'http://localhost:8000/uploads/' + images[1]?.image">
    <img [src]="'http://localhost:8000/uploads/' + images[2]?.image">
    <img [src]="'http://localhost:8000/uploads/' + images[3]?.image">
    <img [src]="'http://localhost:8000/uploads/' + images[4]?.image">

  </div>
  <div class="intro-header">
    <h1>Top Exporter of Premium Quality</h1>
    <p>Certified Export House in India</p>
  </div>
</div>
<div class="textContainer">
  <div>
    <h4>Welcome to OpasBizz Pvt. Ltd</h4>
    <div class="textContent">
      <p>OpasBizz Pvt Ltd is the reputed Manufacturer, Exporter and Supplier of Food Grains from India. The variety of grains that we bring forth is inclusive of basmati rice, non basmati rice, maida flour, semolina, wheat flour, wheat seeds, and yellow maize. Processed as per the well-defined industry norms & standards, our food grains are high on counts of purity, nutritional value, taste and shelf life. Hence, they are extensively demanded all across the world. Our wide & loyal client base from all across the world speaks volumes about our client-focused approach and quality-centeredness. Rely on us!</p>
    </div>
  </div>
  <div class="textContent1">
    <div>
      <h4 style="font-size: 100px;" ><i class="bi bi-gear-wide-connected"></i></h4>
     <h4>Overview</h4> 
     <div>
     <p>Using the finest Manufacturing facilities "SRRU" manufactures quality basmati rice, Foods...</p> </div>

    </div>
    <div>
      <h4 style="font-size: 100px;" ><i class="bi bi-shield-slash-fill"></i></h4>
     <h4>Quality Policy</h4> 
     <div>
     <p>SRRU is synonymous with the trust and reliability inherent in the word Quality. Quality is ingrained in the...</p> </div>

    </div>
    <div>
      <h4 style="font-size: 100px;" ><i class="bi bi-buildings-fill"></i></h4>
     <h4>Manufacturing facility</h4> 
     <div>
     <p>We never rest on our laurels, our passion for excellence driven us to continuously improve practices so that... </p> </div>

    </div>
    <div>
      <h4 style="font-size: 100px;" ><i class="bi bi-reception-4"></i></h4>
     <h4>our network </h4> 
     <div>
     <p>We have an extensive distribution network, reaching out to millions of retail outlets, super distributors ... </p> </div>

    </div>
  </div>
 
</div>
<div>
  <!-- Trigger the modal with a button -->
<button type="button" style="width: 100%;" class="btn btn-success btn-lg btn-block" (click)="openModal()">Add New Product </button>
</div>


<div class="card-container">
  <div class="card" *ngFor="let item of images" >
    <div class="card-content">
      <img style="height: 210px; width: 250px;" [src]="'http://localhost:8000/uploads/'+item.image">
      <div style="cursor: pointer; " (click)="goToProduct(item)">
        <h3 style="cursor: pointer;" >{{ item.productName }}</h3>
        <p> *Price: <span style="color: rgb(238, 8, 8); ">${{ item.price }}</span> /Kilogram</p>
  
      </div>
     
      <!-- Buttons for Edit and Delete -->

      <button class="btn btn-success" style="left: 20px;" (click)="openEditModal(item)"  >Edit</button>
      <button style="right: 20px" (click)="deleteData(item._id)" >Delete</button>
    </div>
  </div>
</div>

<!-- Bootstrap Modal for Editing -->
<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Product:</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
          <div class="form-group">
            <label for="name"> <span style="color: red;">*</span>Product Name</label>
            <input type="text" id="productNameEdit" formControlName="productNameEdit" class="form-control"  />
          </div>
          <!--  -->
          
          
          <div class="form-group">
            <label for="name"> <span style="color: red;">*</span>Price</label>
            <input type="number" id="priceEdit" formControlName="priceEdit" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="name"> <span style="color: red;">*</span>Business Type</label>
            <input type="text" id="businessTypeEdit" formControlName="businessTypeEdit" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="certification"> <span style="color: red;">*</span>Certification</label>
            <input type="text" id="certificationEdit" formControlName="certificationEdit" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="cultivationType"> <span style="color: red;">*</span>Cultivation Type</label>
            <input type="text" id="cultivationTypeEdit" formControlName="cultivationTypeEdit" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="shelfLife"> <span style="color: red;">*</span>Shelf Life</label>
            <input type="text" id="shelfLifeEdit" formControlName="shelfLifeEdit" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="feature"> <span style="color: red;">*</span>Feature</label>
            <input type="text" id="featureEdit" formControlName="featureEdit" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="moisture"> <span style="color: red;">*</span>Moisture</label>
            <input type="text" id="moistureEdit" formControlName="moistureEdit" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="size"> <span style="color: red;">*</span>Size</label>
            <input type="text" id="sizeEdit" formControlName="sizeEdit" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="broken"> <span style="color: red;">*</span>Broken</label>
            <input type="text" id="brokenEdit" formControlName="brokenEdit" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="location"> <span style="color: red;">*</span>Location</label>
            <input type="text" id="locationEdit" formControlName="locationEdit" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="packagingType"> <span style="color: red;">*</span>Packaging Type</label>
            <input type="text" id="packagingTypeEdit" formControlName="packagingTypeEdit" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="packSize"> <span style="color: red;">*</span>Pack Size</label>
            <input type="text" id="packSizeEdit" formControlName="packSizeEdit" class="form-control"  />
          </div>
      
          <div class="form-group">
            <label for="editColor">Color</label>
            <input type="text" id="editColorEdit" formControlName="colorEdit" class="form-control" required />
          </div>
      
          <div class="form-group">
            <label for="editImage">Choose Image</label>
            <input type="file" id="editImage" (change)="onFileSelected($event)" class="form-control" />
          </div>
          <br>
      
          <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">
            Update
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeEditModal()">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Bootstrap Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Product:</h4>
        <!-- <button type="button" class="close" (click)="closeModal()">&times;</button> -->
      </div>
      <div class="modal-body">
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name"> <span style="color: red;">*</span>Product Name</label>
            <input type="text" id="productName" formControlName="productName" class="form-control"  />
          </div>
          <!--  -->
          
          
          <div class="form-group">
            <label for="name"> <span style="color: red;">*</span>Price</label>
            <input type="number" id="price" formControlName="price" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="name"> <span style="color: red;">*</span>Business Type</label>
            <input type="text" id="businessType" formControlName="businessType" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="certification"> <span style="color: red;">*</span>Certification</label>
            <input type="text" id="certification" formControlName="certification" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="cultivationType"> <span style="color: red;">*</span>Cultivation Type</label>
            <input type="text" id="cultivationType" formControlName="cultivationType" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="shelfLife"> <span style="color: red;">*</span>Shelf Life</label>
            <input type="text" id="shelfLife" formControlName="shelfLife" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="feature"> <span style="color: red;">*</span>Feature</label>
            <input type="text" id="feature" formControlName="feature" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="moisture"> <span style="color: red;">*</span>Moisture</label>
            <input type="text" id="moisture" formControlName="moisture" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="size"> <span style="color: red;">*</span>Size</label>
            <input type="text" id="size" formControlName="size" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="broken"> <span style="color: red;">*</span>Broken</label>
            <input type="text" id="broken" formControlName="broken" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="location"> <span style="color: red;">*</span>Location</label>
            <input type="text" id="location" formControlName="location" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="packagingType"> <span style="color: red;">*</span>Packaging Type</label>
            <input type="text" id="packagingType" formControlName="packagingType" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="packSize"> <span style="color: red;">*</span>Pack Size</label>
            <input type="text" id="packSize" formControlName="packSize" class="form-control"  />
          </div>
          
          
          <!-- <div class="form-group">
            <label for=""> <span style="color: red;">*</span>Pack Size</label>
            <input type="text" id="packSize" formControlName="packSize" class="form-control" required />
          </div> -->





      <!--  -->
          <div class="form-group">
            <label for="color">Color</label>
            <input type="text" id="color" formControlName="color" class="form-control"  />
          </div>
      
          <div class="form-group">
            <label for="image">Choose Image</label>
            <input type="file" id="image" (change)="onFileSelected($event)" class="form-control" required />
          </div>
        <br>
      
          <button type="submit" class="btn btn-primary" [disabled]="uploadForm.invalid" (click)="closeModal()">
            Upload
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- <div class="upload-container">
  <h2>Upload Image</h2>

  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Image Name</label>
      <input type="text" id="name" formControlName="name" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="color">Color</label>
      <input type="text" id="color" formControlName="color" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="image">Choose Image</label>
      <input type="file" id="image" (change)="onFileSelected($event)" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="uploadForm.invalid">
      Upload
    </button>
  </form>


</div> -->